// HEADER :: START
header.header
  .header__wrapper
    .header__logo
      a(href="#")
        +icon('ico-logo')
    ul.header__menu
      li
        a(href="#") О компании
      li
        a(href="#") Обжарка кофе
      li
        a(href="#") Сервис
      li
        a(href="#") Продукция 
      li
        a(href="#") Блог
      li
        a(href="#") Контакты
    .header__socials
      a(href='#' target="_blank") IN
      a(href='#' target="_blank") FB
        
