// HEADER :: START
header.header
  .header__wrapper
    .header__hamburger
      .hamburger.hamburger--collapse(js-toggle-mobile-menu)
        span.hamburger-box
          span.hamburger-inner

    .header__logo(js-first-section)
      +icon('ico-logo')
    // refactor js teleport - binding issue
    ul.header__menu(js-header-navigation data-teleport-to="mobile-menu" data-teleport-condition='<768')
      li
        a(href="#about") О компании
      li
        a(href="#roasting") Обжарка кофе
      li
        a(href="#service") Сервис
      li
        a(href="#products") Продукция 
      li
        a(href="#blog") Блог
      li
        a(href="#contacts") Контакты
    .header__socials
      a(href='#' target="_blank") IN
      a(href='#' target="_blank") FB
        

.mobile-menu
  .mobile-menu__wrapper
    ul.mobile-menu__menu(js-header-navigation data-teleport-target="mobile-menu")
      li
        a(href="#about") О компании
      li
        a(href="#roasting") Обжарка кофе
      li
        a(href="#service") Сервис
      li
        a(href="#products") Продукция 
      li
        a(href="#blog") Блог
      li
        a(href="#contacts") Контакты
    .header__socials
      a(href='#' target="_blank") IN
      a(href='#' target="_blank") FB
