// HEADER :: START
header.header
  .header__wrapper
    .header__logo(js-first-section)
      +icon('ico-logo')
    ul.header__menu(js-header-navigation)
      li
        a(href="#about") О компании
      li
        a(href="#roasting") Обжарка кофе
      li
        a(href="#service") Сервис
      li
        a(href="#products") Продукция 
      //- li
      //-   a(href="#") Блог
      li
        a(href="#contacts") Контакты
    .header__socials
      a(href='#' target="_blank") IN
      a(href='#' target="_blank") FB
        
