---
title: Blog page
bodyClass: blogpage
---
extends shared/_layout

block header
  include components/_header-blog
  
block content

  // BLOG PAGE
  .grid
    .grid__col.grid__col--40
      .content.content--page
        .content__text.content__text--noscroll
          a(href="homepage.html#blog").blog-back
            +icon('ico-down-arrow')
            span Назад
            
          .blog-title Команда La Marzocco Russia о новинках 2017 года,  счастье и ответственности обладания кофемашинами  бренда с 90-летней историей
          .blog-date 10 сентября 2017г.
          .blog-author
            .blog-author__logo
              .blog-author__logo-wrapper
                img(src='img/blog-author-logo.jpg')
            
            .blog-author__description
              .blog-author__section
                .blog-author__title Автор
                .blog-author__name Лаборатория кофе
              
              .blog-author__section
                .blog-author__title Время чтения
                .blog-author__name 16 мин.
                  

    .grid__col.grid__col--60
      .content-image.content-image--no-grow
        img(src='img/slideBg1.jpg' srcset='img/slideBg1@2x.jpg 2x')
  
  .blog-container
    .blog-container-800
      p Основная деятельность компании — селекция и профессиональная обжарка кофе для кофеен, кондитерских и ресторанов. Мы перевернули весь мир, чтобы найти лучших поставщиков. Каждый день наши профессиональные обжарщики придают завершённость во вкусе зелёному зерну, которое приезжает напрямую с плантаций Бразилии, Колумбии, Коста-Рики, Эфиопии и других стран.

      p Мы разработали продуктовую линейку, которая предусматривает максимум возможностей для наших партнёров, в зависимости от формата заведения, предпочтений и особенностей целевой аудитории. У нас есть и недорогие бленды для массового потребителя, и популярные моносорта для ценителей, и уникальные specialty-лоты для гурманов. Кроме этого, мы готовы идти навстречу нашим партнёрам, поэтому для крупных сетей мы зачастую разрабатываем уникальные бленды, позволяющие держать оптимальный баланс вкуса, качества и цены.
      p Кофейное зерно — это основа философии «Лаборатории кофе». Однако успех наших партнёров, а значит и наш успех, во многом зависит от уровня сервиса. Поэтому мы не ограничиваемся обжаркой. Мы помогаем с разработкой концепций новых кофеен наших партнёров, проводим аудит действующих заведений, организовываем обучение бариста на базе учебного центра «Лаборатории кофе», и многое другое. Кроме этого, мы организовываем каппинги и участвуем в крупнейших профильных мероприятиях, чтобы всегда быть в тренде и задавать темп развитию отрасли.Текст о компании, включающий в себя рассказ об истории основания и развития, упоминание ключевых персон. 
      
      figure
        img(src='img/slideBg1.jpg' srcset='img/slideBg1@2x.jpg 2x')
        figcaption Подпись фотографии
      
      table
        tr
          td
            img(src='img/blog-author-logo.jpg')
        
          td
            blockquote «Основная деятельность компании — селекция и профессиональная обжарка кофе для кофеен, кондитерских и ресторанов. Мы перевернули весь мир, чтобы найти лучших поставщиков. Каждый день наши профессиональные обжарщики придают завершённость во вкусе зелёному зерну, которое приезжает напрямую с плантаций Бразилии, Колумбии, Коста-Рики, Эфиопии и других стран.»
    
      p 
        b «Основная деятельность компании — селекция и профессиональная обжарка кофе для кофеен, кондитерских и ресторанов. Мы перевернули весь мир, чтобы найти лучших поставщиков. Каждый день наши профессиональные обжарщики придают завершённость во вкусе зелёному зерну, которое приезжает напрямую с плантаций Бразилии, Колумбии, Коста-Рики, Эфиопии и других стран.»
      
      h2 Подзаголовок статьи 
      
      img(src='img/blog-image-1.jpg' style='float:left;')
      p Основная деятельность компании — селекция и профессиональная обжарка кофе для кофеен, кондитерских и ресторанов. Мы перевернули весь мир, чтобы найти лучших поставщиков. Каждый день наши профессиональные обжарщики придают завершённость во вкусе зелёному зерну, которое приезжает напрямую с плантаций Бразилии, Колумбии, Коста-Рики, Эфиопии и других стран.
      p Мы разработали продуктовую линейку, которая предусматривает максимум возможностей для наших партнёров, в зависимости от формата заведения, предпочтений и особенностей целевой аудитории. У нас есть и недорогие 
      
      p Основная деятельность компании — селекция и профессиональная обжарка кофе для кофеен, кондитерских и ресторанов. Мы перевернули весь мир, чтобы найти лучших поставщиков. Каждый день наши профессиональные обжарщики придают завершённость во вкусе зелёному зерну, которое приезжает напрямую с плантаций Бразилии, Колумбии, Коста-Рики, Эфиопии и других стран.
      p Основная деятельность компании — селекция и профессиональная обжарка кофе для кофеен, кондитерских и ресторанов. Мы перевернули весь мир, чтобы найти лучших поставщиков. Каждый день наши профессиональные обжарщики придают завершённость во вкусе зелёному зерну, которое приезжает напрямую с плантаций Бразилии, Колумбии, Коста-Рики, Эфиопии и других стран.

      p Мы разработали продуктовую линейку, которая предусматривает максимум возможностей для наших партнёров, в зависимости от формата заведения, предпочтений и особенностей целевой аудитории. У нас есть и недорогие бленды для массового потребителя, и популярные моносорта для ценителей, и уникальные specialty-лоты для гурманов. Кроме этого, мы готовы идти навстречу нашим партнёрам, поэтому для крупных сетей мы зачастую разрабатываем уникальные бленды, позволяющие держать оптимальный баланс вкуса, качества и цены.
      p Кофейное зерно — это основа <a href='#'>философии «Лаборатории кофе»</a>. Однако успех наших партнёров, а значит и наш успех, во многом зависит от уровня сервиса. Поэтому мы не ограничиваемся обжаркой. Мы помогаем с разработкой концепций новых кофеен наших партнёров, проводим аудит действующих заведений, организовываем обучение бариста на базе учебного центра «Лаборатории 
      
      
      blockquote «Основная деятельность компании — селекция и профессиональная обжарка кофе для кофеен, кондитерских и ресторанов. Мы перевернули весь мир, чтобы найти лучших поставщиков. Каждый день наши профессиональные обжарщики придают завершённость во вкусе зелёному зерну, которое приезжает напрямую с плантаций Бразилии, Колумбии, Коста-Рики, Эфиопии и других стран.»

      img(src='img/blog-image-2.jpg' style='float:right;')
        
      p Основная деятельность компании — селекция и профессиональная обжарка кофе для кофеен, кондитерских и ресторанов. Мы перевернули весь мир, чтобы найти лучших поставщиков. Каждый день наши профессиональные обжарщики придают завершённость во вкусе зелёному зерну, которое приезжает напрямую с плантаций Бразилии, Колумбии, Коста-Рики, Эфиопии и других стран.
      p Мы разработали продуктовую линейку, которая предусматривает максимум возможностей для наших партнёров, в зависимости от формата заведения, предпочтений и особенностей целевой аудитории. У нас есть и недорогие 
      p Основная деятельность компании — селекция и профессиональная обжарка кофе для кофеен, кондитерских и ресторанов. Мы перевернули весь мир, чтобы найти лучших поставщиков. Каждый день наши профессиональные обжарщики придают завершённость во вкусе зелёному зерну, которое приезжает напрямую с плантаций Бразилии, Колумбии, Коста-Рики, Эфиопии и других стран.
      
      span(data-teleport-target="mobile-controls")
        
      .blog-similar
        
        .controls__up(js-up)
          +icon('ico-down-arrow')
          span Наверх
          
          
        
        .blog-title Другие статьи
        
        .blog-grid.blog-grid--inner(js-slick-similar data-slick-section="1")
          // card
          a(href="blog-page.html" target="_blank").blog-card
            .blog-card__image
              img(src='img/blogCard1.jpg' srcset='img/blogCard1@2x.jpg 2x')
            .blog-card__content
              .blog-card__title Будущее бариста.  Куда и как расти в сфере кофе?
              .blog-card__short Я начала готовить кофе в 1996 году, это была моя первая работа. Случайность, которая стала судьбой. Я закончила школу и через месяц…
              .blog-card__bottom
                .blog-card__date 4 Октября 2017 Г.
                .blog-card__more
                  +icon('ico-btn-next')
          // card
          a(href="blog-page.html" target="_blank").blog-card
            .blog-card__image
              img(src='img/blogCard2.jpg' srcset='img/blogCard2@2x.jpg 2x')
            .blog-card__content
              .blog-card__title Moscow Coffee and Tea Expo:  к чему готовиться в 2017 году
              .blog-card__short PIR EXPO — огромное событие в HoReCa. Пять лет в рамках выставки проходит одно из крупнейших событий мира кофе:…
              .blog-card__bottom
                .blog-card__date 27 Сентября 2017 Г.
                .blog-card__more
                  +icon('ico-btn-next')
          // card
          a(href="blog-page.html" target="_blank").blog-card
            .blog-card__image
              img(src='img/blogCard3.jpg' srcset='img/blogCard3@2x.jpg 2x')
            .blog-card__content
              .blog-card__title Cила — в булках
              .blog-card__short Маленькая Пекарня Журавлевых. Формат небольших розничных точек для продажи свежей выпечки и десертов придумала…
              .blog-card__bottom
                .blog-card__date 4 Октября 2017 Г.
                .blog-card__more
                  +icon('ico-btn-next')
          // card
          a(href="blog-page.html" target="_blank").blog-card
            .blog-card__image
              img(src='img/blogCard4.jpg' srcset='img/blogCard4@2x.jpg 2x')
            .blog-card__content
              .blog-card__title Команда La Marzocco Russia  о новинках 2017 года, счастье  и ответственности обладания кофемашинами бренда  с 90-летней историей

              .blog-card__bottom
                .blog-card__date 20 Сентября 2017 Г.
                .blog-card__more
                  +icon('ico-btn-next')
                  
          // card
          a(href="blog-page.html" target="_blank").blog-card
            .blog-card__image
              img(src='img/blogCard5.jpg' srcset='img/blogCard5@2x.jpg 2x')
            .blog-card__content
              .blog-card__title Сергей Степанчук о поездке  в Бразилию, подготовке  к чемпионату мира и новом ростере

              .blog-card__bottom
                .blog-card__date 20 Сентября 2017 Г.
                .blog-card__more
                  +icon('ico-btn-next')
                  
        .blog-nav.blog-nav--prev.blog-nav--top
          .blog-card__more.blog-card__more--reverse(js-slick-prev-s)
            +icon('ico-btn-next')
        .blog-nav.blog-nav--top
          .blog-card__more(js-slick-next-s)
            +icon('ico-btn-next')
  //////////
  // CONTROLS
  //////////
  span(js-teleport data-teleport-condition="<568" data-teleport-to="mobile-controls")
    .controls.is-visible.is-blog
      .controls__wrapper
        a(href='http://laboratoriacoffee.us16.list-manage.com/subscribe?u=f29206a1c7809b3868ef237d8&id=6f2be7d048' target="_blank").controls__mail-link 
          span Подписаться на рассылку
        .controls__socials
          .controls__socials-head Поделиться статьей:
          .controls__socials-list
            a(href="javascript:fbShare('http://localhost:3000', 'img/blog-image-2.jpg', 'Заголовок', 'Название сайта', 'Краткое описание', 520, 350)" target="")
              +icon('ico-social-facebook')
            a(href='#' target="_blank" onclick="Share.vkontakte('http://localhost:3000','Заголовок','img/blog-image-2.jpg','Текст описания')")
              +icon('ico-social-vk')
            a(href='https://twitter.com/home?status=http%3A//localhost%3A3000/blog-page.html' target="_blank")
              +icon('ico-social-twitter')
            a(href='#' target="_blank")
              +icon('ico-social-telegram')
        .controls__progress
          
