---
title: Blog page
bodyClass: blogpage
---
extends shared/_layout

block header
  include components/_header-blog
  
block content

  // BLOG PAGE
  .grid
    .grid__col
      .content.content--page
        .content__text.content__text--noscroll
          .blog-title Команда La Marzocco Russia о новинках 2017 года,  счастье и ответственности обладания кофемашинами  бренда с 90-летней историей
          .blog-date 10 сентября 2017г.
          p Основная деятельность компании — селекция и профессиональная обжарка кофе для кофеен, кондитерских и ресторанов. Мы перевернули весь мир, чтобы найти лучших поставщиков. Каждый день наши профессиональные обжарщики придают завершённость во вкусе зелёному зерну, которое приезжает напрямую с плантаций Бразилии, Колумбии, Коста-Рики, Эфиопии и других стран.

          p Мы разработали продуктовую линейку, которая предусматривает максимум возможностей для наших партнёров, в зависимости от формата заведения, предпочтений и особенностей целевой аудитории. У нас есть и недорогие бленды для массового потребителя, и популярные моносорта для ценителей, и уникальные specialty-лоты для гурманов. Кроме этого, мы готовы идти навстречу нашим партнёрам, поэтому для крупных сетей мы зачастую разрабатываем уникальные бленды, позволяющие держать оптимальный баланс вкуса, качества и цены.


    .grid__col
      .content-image.content-image--no-grow
        img(src='img/slideBg1.jpg' srcset='img/slideBg1@2x.jpg 2x')
  
  .blog-container
    p Основная деятельность компании — селекция и профессиональная обжарка кофе для кофеен, кондитерских и ресторанов. Мы перевернули весь мир, чтобы найти лучших поставщиков. Каждый день наши профессиональные обжарщики придают завершённость во вкусе зелёному зерну, которое приезжает напрямую с плантаций Бразилии, Колумбии, Коста-Рики, Эфиопии и других стран.

    p Мы разработали продуктовую линейку, которая предусматривает максимум возможностей для наших партнёров, в зависимости от формата заведения, предпочтений и особенностей целевой аудитории. У нас есть и недорогие бленды для массового потребителя, и популярные моносорта для ценителей, и уникальные specialty-лоты для гурманов. Кроме этого, мы готовы идти навстречу нашим партнёрам, поэтому для крупных сетей мы зачастую разрабатываем уникальные бленды, позволяющие держать оптимальный баланс вкуса, качества и цены.
    p Кофейное зерно — это основа философии «Лаборатории кофе». Однако успех наших партнёров, а значит и наш успех, во многом зависит от уровня сервиса. Поэтому мы не ограничиваемся обжаркой. Мы помогаем с разработкой концепций новых кофеен наших партнёров, проводим аудит действующих заведений, организовываем обучение бариста на базе учебного центра «Лаборатории кофе», и многое другое. Кроме этого, мы организовываем каппинги и участвуем в крупнейших профильных мероприятиях, чтобы всегда быть в тренде и задавать темп развитию отрасли.Текст о компании, включающий в себя рассказ об истории основания и развития, упоминание ключевых персон. 
    
    figure
      img(src='img/slideBg1.jpg' srcset='img/slideBg1@2x.jpg 2x')
      figcaption Подпись фотографии
      
    p 
      b «Основная деятельность компании — селекция и профессиональная обжарка кофе для кофеен, кондитерских и ресторанов. Мы перевернули весь мир, чтобы найти лучших поставщиков. Каждый день наши профессиональные обжарщики придают завершённость во вкусе зелёному зерну, которое приезжает напрямую с плантаций Бразилии, Колумбии, Коста-Рики, Эфиопии и других стран.»

    p Мы разработали продуктовую линейку, которая предусматривает максимум возможностей для наших партнёров, в зависимости от формата заведения, предпочтений и особенностей целевой аудитории. У нас есть и недорогие бленды для массового потребителя, и популярные моносорта для ценителей, и уникальные specialty-лоты для гурманов. Кроме этого, мы готовы идти навстречу нашим партнёрам, поэтому для крупных сетей мы зачастую разрабатываем уникальные бленды, позволяющие держать оптимальный баланс вкуса, качества и цены.

  //////////
  // CONTROLS
  //////////
  .controls.is-visible.is-blog
    .controls__wrapper
      .controls__socials
        a(href='#' target="_blank") IN
        a(href='#' target="_blank") FB
      .controls__progress
        
