---
title: Labaratoria coffee
---
extends shared/_layout
block content
  div(js-fullpage)
    .section(data-section="intro")
      // HERO :: START
      .hero
        .hero__wrapper
          .hero__slide.is-active
            img.hero__slide-bg(src='img/heroBg1.jpg' srcset='img/heroBg1@2x.jpg 2x')
            .hero__slide-content
              .hero__uptitle coffee is
              .hero__title Balance
              .hero__description Компания, созданная людьми, <br>  влюблёнными в жизнь<br>  и хороший кофе. 
              .hero__cta
                a(href='#').btn.btn-outline Подробнее
          .hero__slide.is-next
            img.hero__slide-bg(src='img/heroBgWood.jpg' srcset='img/heroBgWood@2x.jpg 2x')
      
    // SECTION
    .section(data-section="about")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title О компании
            .content__text
              p Основная деятельность компании — селекция и профессиональная обжарка кофе для кофеен, кондитерских и ресторанов. Мы перевернули весь мир, чтобы найти лучших поставщиков. Каждый день наши профессиональные обжарщики придают завершённость во вкусе зелёному зерну, которое приезжает напрямую с плантаций Бразилии, Колумбии, Коста-Рики, Эфиопии и других стран.
              p Мы разработали продуктовую линейку, которая предусматривает максимум возможностей для наших партнёров, в зависимости от формата заведения, предпочтений и особенностей целевой аудитории. У нас есть и недорогие бленды для массового потребителя, и популярные моносорта для ценителей, и уникальные specialty-лоты для гурманов. Кроме этого, мы готовы идти навстречу нашим партнёрам, поэтому для крупных сетей мы зачастую разрабатываем уникальные бленды, позволяющие держать оптимальный баланс вкуса, качества и цены.
              p Кофейное зерно — это основа философии «Лаборатории кофе». Однако успех наших партнёров, а значит и наш успех, во многом зависит от уровня сервиса. Поэтому мы не ограничиваемся обжаркой. Мы помогаем с разработкой концепций новых кофеен наших партнёров, проводим аудит действующих заведений, организовываем обучение бариста на базе учебного центра «Лаборатории кофе», и многое другое. Кроме этого, мы организовываем каппинги и участвуем в крупнейших профильных мероприятиях, чтобы всегда быть в тренде и задавать темп развитию отрасли.Текст о компании, включающий в себя рассказ об истории основания и развития, упоминание ключевых персон.
        .grid__col
          .content-image
            img(data-src='img/slideBg1.jpg' data-srcset='img/slideBg1@2x.jpg 2x')
      
    // SECTION
    .section(data-section="about")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title История
            .content__text
              p «Лаборатория кофе» была основана в 2014 году. В первое время кофе обжаривали для собственной сети кофеен формата «ту гоу» на арендованном ростере. Объёмы обжарки составляли около 1-1,5 тонн в месяц. Параллельно было запущено производство сиропов под собственным брендом «WTS?!». Постепенно у компании начали появляться заказы на обжарку кофе от сторонних кофеен. 
              p В начале 2016 года компания обзавелась первым ростером марки Giesen. Под производство было найдено просторное помещение на Кутузовском проспекте. Проект кофеен было решено закрыть, сфокусировавшись на обжарке зелёного кофе в b2b. Уже к концу года производство было перенесено на новую площадку, поскольку помещение на Кутузовском проспекте попало под программу сноса. Так «Лаборатория кофе» переместилась на Огородный проезд. Несмотря на все перипетии и переезды, в течение 2016 года объём производства  вырос в 25 раз — до рекордных 15 тонн в декабре 2016 года. 
              p 2017 год стал годом перемен для для «Лаборатории кофе». Вывод, что производство нужно расширять, был сделан ещё в 2016 году, когда объём заказов перешагнул отметку в 10 тонн в месяц и Giesen W15A перестал справляться (его производительная вместимость — до 15 кг). Обжарщики периодически работали буквально круглосуточно, чтобы обжарить нужный объём под поток заказов. В результате был приобретен новый ростер Giesen W60A, промышленная вместительность которого – 60 кг. Вместе с ним в арсенале «Лаборатории кофе» появился WPG1, предназначенный для семплов 100-200 г. Для расширения производства компании снова потребовалось переехать, на этот раз в отдельное двухэтажное здание общей площадью 560 кв. м. на ул. Синельниковской. Здесь кроме офиса и производственного цеха у «Лаборатории кофе» оборудованы большой склад, а на втором этаже здания расположился офис компании. 
        .grid__col
          .content-image
            img(data-src='img/slideBg1.jpg' data-srcset='img/slideBg1@2x.jpg 2x')
    
    // SECTION
    .section(data-section="about")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title Особенности 
            // tabs is modifier for full-page tabs
            .content__text.content__text--tabs
              .content__tab-nav
                .content__tab-el(js-tab data-tab-for="about_1").is-active Профессиональная команда
                .content__tab-el(js-tab data-tab-for="about_2") Строгий отбор оборудования
                .content__tab-el(js-tab data-tab-for="about_3") Уважение к времени
                .content__tab-el(js-tab data-tab-for="about_4") Сопутствующие товары
              
              .content__tab(data-tab="about_1").is-active
                p «Лаборатория кофе» объединяет людей, которых можно назвать лучшими в своём деле. Производством руководит Сергей Степанчук — квалифицированный обжарщик, сертифицированный судья SCAE (Speciality Coffee Association of Europe), многократный финалист и победитель российских и международных чемпионатов по приготовлению кофе.
                p Все обжарщики «Лаборатории кофе» имеют опыт работы бариста, организовывают и поддерживают события кофейной индустрии, обмениваются опытом с российскими и иностранными коллегами, участвуют в соревнованиях разного уровня.

              .content__tab(data-tab="about_2")
                p Мы используем сами, тестируем и рекомендуем нашим партнёрам только лучшее оборудование для обжарки, помола и приготовления кофе. Для этого мы находимся в постоянном контакте с десятками производителей во всём мире.
                
              .content__tab(data-tab="about_3")
                p На кофейном рынке время — один из важнейших ресурсов. Мы поставляем наше зерно именно тогда, когда это нужно, и в оптимальном количестве. Залежавшийся кофе никак не сделать вкусным, а задержка в поставках может стоить лояльности посетителей. Поэтому часы и календарь — важнейшие инструменты команды «Лаборатории кофе».
              
              .content__tab(data-tab="about_4")
                p Кофе — это основа и главное направление деятельности «Лаборатории кофе». Однако на восприятие вкуса может влиять масса составляющих: сиропы, сахар, молоко. Мы помогаем партнёрам со всем комплексом продуктов, от которых зависит качество кофе. И немного больше. Ведь даже самые отъявленные кофеманы иногда хотят выпить и чашку ароматного чая, и какао.
              

        .grid__col
          .content-slider
            // slider for 4 photos
            .content-slider__slide(data-for-tab="about_1").is-active
              img(data-src='img/slideBgAbout1.jpg' data-srcset='img/slideBgAbout1@2x.jpg 2x')
            .content-slider__slide(data-for-tab="about_2")
              img(data-src='img/slideBgAbout2.jpg' data-srcset='img/slideBgAbout2@2x.jpg 2x')
            .content-slider__slide(data-for-tab="about_3")
              img(data-src='img/slideBgAbout3.jpg' data-srcset='img/slideBgAbout3@2x.jpg 2x')
            .content-slider__slide(data-for-tab="about_4")
              img(data-src='img/slideBgAbout4.jpg' data-srcset='img/slideBgAbout4@2x.jpg 2x')

    // SECTION
    .section(data-section="about")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title Команда 
            .content__text
              p «Лаборатория кофе» объединяет людей, которых можно назвать лучшими в своём деле. Все наши обжарщики имеют опыт работы бариста, организовывают и поддерживают события кофейной индустрии, обмениваются опытом с российскими и иностранными коллегами, участвуют в соревнованиях разного уровня.

        .grid__col
          .content-image        
            img(data-src='img/slideBgTeam.jpg' data-srcset='img/slideBgTeam@2x.jpg 2x')

    //////////
    // ROASTING
    //////////
      
    // SECTION
    .section(data-section="roasting")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title Обжарка кофе 
            .content__text
              p Производство «Лаборатории кофе» — это три ростера Giesen разной модификации. При помощи каждого из ростеров мы решаем разные задачи: от масштабных объёмов под эспрессо для сетевых кофеен до деликатных экспериментов с микролотами для чемпионатов. Благодаря единой платформе, разработанной компанией «Giesen Coffee Roasters», на которой работают все три ростера, обжарщики могут быстро адаптировать профили обжарки от одного ростера к другому. Таким образом мы минимизируем время на выполнение каждого нового заказа, даже если он нестандартный, сводим к минимуму затраты на подбор профиля обжарки, оптимизируем трудозатраты и энергоёмкость производства. 
              
              .content__tabs
                .content__tab-nav
                  .content__tab-el(js-tab data-tab-for="roasting_1").is-active Giesen W60A
                  .content__tab-el(js-tab data-tab-for="roasting_2") Giesen W15A
                  .content__tab-el(js-tab data-tab-for="roasting_3") Giesen WPG1

                .content__tab(data-tab="roasting_1").is-active
                  .content__h3 Giesen W60A
                  p Современный ростер промышленной вместительностью 60 кг был запущен в «Лаборатории кофе» летом 2017 года. Он стал первым 60-килограммовым Giesen в России. W60A позволяет обжаривать до 240 килограммов кофе в час. Именно на нём сегодня обжаривается основной объём блендов и моносортов под эспрессо. 
                .content__tab(data-tab="roasting_2")
                  .content__h3 Giesen W15A
                  p На производстве «Лаборатории кофе» этот ростер работает с начала 2016 года. Вместимость W15A — до 15 кг. Сегодня на нём обжаривается основной ассортимент наших моносортов под альтернативные способы заваривания кофе. 
                .content__tab(data-tab="roasting_3")
                  .content__h3 Giesen WPG1
                  p Маленький ростер появился в «Лаборатории кофе» тоже летом 2017 года. Он открыл новые возможности для обжарщиков по экспериментам с зерном и позволил изменить подход к подбору профилей. WPG1 позволяет обжаривать семплы 100-200 грамм. Его настройки профилей достаточно просто переносятся на промышленные масштабы W15A и W60A. 
              
        .grid__col
          .content-image
            img(data-src='img/slideBgObjarka1.jpg' data-srcset='img/slideBgObjarka1@2x.jpg 2x' data-for='roasting_1').is-active
            img(data-src='img/slideBgObjarka2.jpg' data-srcset='img/slideBgObjarka2@2x.jpg 2x' data-for='roasting_2')
            img(data-src='img/slideBgObjarka3.jpg' data-srcset='img/slideBgObjarka3@2x.jpg 2x' data-for='roasting_3')

    // SECTION
    .section(data-section="roasting")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title Зелёное зерно
            .content__text
              p Закупками зелёного зерна и формированием ассортимента занимается команда обжарщиков «Лаборатории кофе». Мы постоянно проводим мониторинг новых лотов у трейдеров, получаем и анализируем новые предложения по зелёному зерну со всего мира. И, конечно, отслеживаем динамику цен. Разница закупочной цены даже в несколько долларов может влиять на стоимость готового продукта. Поэтому мы безостановочно ищем варианты сохранения цен без потери качества: находим другое зерно, подходящее по вкусу, стараемся составить смеси так, чтобы они попадали и в рамки требуемого вкуса и в рамки ценовой категории, которую диктует рынок, подбираем оптимальный профиль обжарки. 

        .grid__col
          .content-image
            img(data-src='img/slideBgObjarka4.jpg' data-srcset='img/slideBgObjarka4@2x.jpg 2x')
                                            
    // SECTION
    .section(data-section="roasting")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title Контроль качества 
            .content__text
              p На всех ростерах «Лаборатории кофе» установлена стоит система «Кропстер». Благодаря ей можно отследить до мелочей каждый график обжарки, все показатели датчиков. На основании этой информации мы проводим анализ обжарок, ищем при необходимости новые профили. Дело в том, что некоторые показатели даже одного сорта могут варьироваться: влажность зелёного зерна, интенсивность вкуса в результате хранения на складе. Мы стараемся работать всегда только с самым свежим урожаем, но даже небольшие изменения в качестве могут быть заметны, если вовремя не подстроить профиль обжарки. 
              p Ежедневно мы обжариваем несколько партий разного зерна, и из каждой партии берём образцы, сравниваем с предыдущими обжарками при помощи так называемых триангуляций: ставим две чашки нынешней обжарки, одну чашку старой обжарки, и ищем разницу. 

        .grid__col
          .content-image
            img(data-src='img/slideBgObjarka5.jpg' data-srcset='img/slideBgObjarka5@2x.jpg 2x')
      
      
    //////////
    // SERVICE
    //////////
    
    // SECTION
    .section(data-section="service")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title Сервис
            .content__text
              .content__tabs
                .content__tab-nav
                  .content__tab-el(js-tab data-tab-for="service_1").is-active Настройка и обслуживание оборудования
                  .content__tab-el(js-tab data-tab-for="service_2") Повышение квалификации бариста

                .content__tab(data-tab="service_1").is-active
                  p «Лаборатория кофе» специализируется на качественной обжарке зелёного кофе со всего мира. Прежде чем стать вкусным напитком, наше зерно проходит путь в несколько этапов: хранение, доставка, приготовление. Мы стараемся отслеживать все этапы от поставки зерна до чашки, чтобы гарантировать качество и вкус. Именно поэтому мы помогаем нашим партнёрам с подбором и настройкой кофемашин, кофемолок и другого оборудования. 
                .content__tab(data-tab="service_2")
                  p Руки бариста – это один из важных элементов в цепочке от кофейной плантации до потребителя. Затраты на качественное свежеобжаренное зерно и хорошее оборудование могут сойти на нет, если бариста не умеет хорошо приготовить кофе. Именно поэтому мы проводим бесплатное обучение бариста для наших партнёров: чтобы наше зерно попадало в понимающие руки, которые смогут приготовить отличную чашку кофе. 
                  p По всем вопросам, связанным с организацией обучения для наших партнёров, можно обращаться в службу клиентского сервиса «Лаборатории кофе». 
                  a(href='#').btn.btn-outline Связаться
                  
        .grid__col
          .content-image
            img(data-src='img/slideBgService1.jpg' data-srcset='img/slideBgService1@2x.jpg 2x' data-for='service_1').is-active
            img(data-src='img/slideBgService2.jpg' data-srcset='img/slideBgService2@2x.jpg 2x' data-for='service_2')

                  
    //////////
    // PRODUCTS
    //////////
    
    // SECTION
    .section(data-section="products")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title Продукция
            .content__text
              // тут текст продукции
              p Наша продуктовая линейка предусматривает максимум возможностей для партнёров, в зависимости от формата заведения, предпочтений и особенностей целевой аудитории. У нас есть недорогие бленды для массового потребителя, популярные моносорта для ценителей, уникальные specialty-лоты для гурманов. Для крупных сетей мы зачастую разрабатываем индивидуальные бленды, позволяющие держать оптимальный баланс вкуса, качества и цены.
              .get-offer
                .get-offer__btn(js-offer-trigger)
                  a(href='#').btn.btn-outline.btn-outline--black Получить прайс- лист
                form.get-offer__form(js-validate-offer)
                  .get-offer__form-input
                    label Ваш e-mail
                    input(type='email' name="email")
                      
                  button(type='submit')
                    +icon('ico-btn-next')
                .get-offer__sucess
                  a(href="#").btn.btn-outline.btn-outline--black(js-offer-reset) Отправить повторно
                  .get-offer__sucess-message Каталог отправлен вам на почту
                  

        .grid__col
          .content-image
            img(data-src='img/slideBgProduction.jpg' data-srcset='img/slideBgProduction@2x.jpg 2x')
                            
                  
    //////////
    // CONTACTS
    //////////

    // SECTION
    .section(data-section="contacts")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title Контакты
            .content__text
              // тут текст контактов
              .contact-tab.is-active
                .contact-tab__head
                  span Служба  клиентского сервиса
                  +icon('ico-down-arrow')
                .contact-tab__content
                  p 
                    b Менеджеры по работе с клиентами. <br>
                    | Если вы хотите заказать кофе, сиропы, чай-латте, какао; уточнить детали заказа. 

                  p 
                    | Телефон: 
                    a(href="tel:+74955855683") +7 (495) 585-56-83; <br>
                    | e-mail: 
                    a(href="mailto:zakaz@laboratoriacoffee.ru") zakaz@laboratoriacoffee.ru 

                  p 
                    b Александр Горлов, <br>
                    |  руководитель отдела клиентского сервиса

                  p 
                    | Телефон: 
                    a(href="tel:+79263424298") +7(926) 342-42-98<br>
                    | e-mail: 
                    a(href="mailto:rescue@laboratoriacoffee.ru") rescue@laboratoriacoffee.ru 

              // tab
              .contact-tab
                .contact-tab__head
                  span Для СМИ
                  +icon('ico-down-arrow')
                  
                .contact-tab__content
                  p 
                    | Елена Чернякова, <br> PR-директор. <br>
                    | Если у вас есть предложение,  вы проводите мероприятие  или ищете информацию о нас. 

                  p
                    | Телефон: 
                    a(href="tel:+79857502628") +7 (985) 750-26-28<br>
                    | e-mail: 
                    a(href="mailto:pr@laboratoriacoffee.ru") pr@laboratoriacoffee.ru 
              
              // tab
              .contact-tab
                .contact-tab__head
                  span Руководство
                  +icon('ico-down-arrow')
                  
                .contact-tab__content
                  p 
                    b Александра Тищенко, <br> директор
                  p
                    | Телефон: 
                    a(href="tel:+79035689933") +7 (903) 568-99-33<br>
                    | e-mail: 
                    a(href="mailto:ast@laboratoriacoffee.ru") ast@laboratoriacoffee.ru 

        .grid__col
          .content-map
            // map here
            #contact-map

  //////////
  // CONTROLS
  //////////
  .controls
    .controls__mouse(js-next-section)
      include ../icons/mouse.svg
    .controls__socials
      a(href='#' target="_blank") IN
      a(href='#' target="_blank") FB
    

  // DOTS NAVIGATION
  .navigation(js-navigation)
    .navigation__el(data-proximity="1" data-ask-for="about")
    .navigation__el(data-proximity="2" data-ask-for="roasting")
    .navigation__el(data-proximity="3" data-ask-for="service")
    .navigation__el(data-proximity="4" data-ask-for="products")
    .navigation__el(data-proximity="5" data-ask-for="contacts")    
  
