---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout
block content
  // HERO :: START
  .hero
    .hero__wrapper
      .hero__slide.is-active
        img.hero__slide-bg(src='img/heroBg1.jpg' srcset='img/heroBg1@2x.jpg 2x')
        .hero__slide-content
          .hero__uptitle coffee is
          .hero__title Balance
          .hero__description Компания, созданная людьми, <br>  влюблёнными в жизнь<br>  и хороший кофе. 
          .hero__cta
            a(href='#').btn.btn-outline Подробнее
      .hero__slide.is-next
        img.hero__slide-bg(src='img/heroBgWood.jpg' srcset='img/heroBgWood@2x.jpg 2x')
  
  
