---
title: Labaratoria coffee
---
extends shared/_layout
block content
  div(js-fullpage)
    .section(data-section="intro")
      // HERO :: START
      .hero
        .hero__wrapper
          .hero__slide.is-active
            img.hero__slide-bg(src='img/heroBg1.jpg' srcset='img/heroBg1@2x.jpg 2x')
            .hero__slide-content
              .hero__uptitle coffee is
              .hero__title Balance
              .hero__description Компания, созданная людьми, <br>  влюблёнными в жизнь<br>  и хороший кофе. 
              .hero__cta
                a(href='#').btn.btn-outline Подробнее
          .hero__slide.is-next
            img.hero__slide-bg(src='img/heroBgWood.jpg' srcset='img/heroBgWood@2x.jpg 2x')
      
    // SECTION
    .section(data-section="about")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title О компании
            .content__text
              p Основная деятельность компании — селекция и профессиональная обжарка кофе для кофеен, кондитерских и ресторанов. Мы перевернули весь мир, чтобы найти лучших поставщиков. Каждый день наши профессиональные обжарщики придают завершённость во вкусе зелёному зерну, которое приезжает напрямую с плантаций Бразилии, Колумбии, Коста-Рики, Эфиопии и других стран.
              p Мы разработали продуктовую линейку, которая предусматривает максимум возможностей для наших партнёров, в зависимости от формата заведения, предпочтений и особенностей целевой аудитории. У нас есть и недорогие бленды для массового потребителя, и популярные моносорта для ценителей, и уникальные specialty-лоты для гурманов. Кроме этого, мы готовы идти навстречу нашим партнёрам, поэтому для крупных сетей мы зачастую разрабатываем уникальные бленды, позволяющие держать оптимальный баланс вкуса, качества и цены.
              p Кофейное зерно — это основа философии «Лаборатории кофе». Однако успех наших партнёров, а значит и наш успех, во многом зависит от уровня сервиса. Поэтому мы не ограничиваемся обжаркой. Мы помогаем с разработкой концепций новых кофеен наших партнёров, проводим аудит действующих заведений, организовываем обучение бариста на базе учебного центра «Лаборатории кофе», и многое другое. Кроме этого, мы организовываем каппинги и участвуем в крупнейших профильных мероприятиях, чтобы всегда быть в тренде и задавать темп развитию отрасли.Текст о компании, включающий в себя рассказ об истории основания и развития, упоминание ключевых персон.
          
          .grid__mouse
            include ../icons/mouse.svg
            
        .grid__col
          .content-image
            img(data-src='img/slideBg1.jpg' data-srcset='img/slideBg1@2x.jpg 2x')
      
    // SECTION
    .section(data-section="about")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title История
            .content__text
              p «Лаборатория кофе» была основана в 2014 году. В первое время кофе обжаривали для собственной сети кофеен формата «ту гоу» на арендованном ростере. Объёмы обжарки составляли около 1-1,5 тонн в месяц. Параллельно было запущено производство сиропов под собственным брендом «WTS?!». Постепенно у компании начали появляться заказы на обжарку кофе от сторонних кофеен. 
              p В начале 2016 года компания обзавелась первым ростером марки Giesen. Под производство было найдено просторное помещение на Кутузовском проспекте. Проект кофеен было решено закрыть, сфокусировавшись на обжарке зелёного кофе в b2b. Уже к концу года производство было перенесено на новую площадку, поскольку помещение на Кутузовском проспекте попало под программу сноса. Так «Лаборатория кофе» переместилась на Огородный проезд. Несмотря на все перипетии и переезды, в течение 2016 года объём производства  вырос в 25 раз — до рекордных 15 тонн в декабре 2016 года. 
              p 2017 год стал годом перемен для для «Лаборатории кофе». Вывод, что производство нужно расширять, был сделан ещё в 2016 году, когда объём заказов перешагнул отметку в 10 тонн в месяц и Giesen W15A перестал справляться (его производительная вместимость — до 15 кг). Обжарщики периодически работали буквально круглосуточно, чтобы обжарить нужный объём под поток заказов. В результате был приобретен новый ростер Giesen W60A, промышленная вместительность которого – 60 кг. Вместе с ним в арсенале «Лаборатории кофе» появился WPG1, предназначенный для семплов 100-200 г. Для расширения производства компании снова потребовалось переехать, на этот раз в отдельное двухэтажное здание общей площадью 560 кв. м. на ул. Синельниковской. Здесь кроме офиса и производственного цеха у «Лаборатории кофе» оборудованы большой склад, а на втором этаже здания расположился офис компании. 

          .grid__mouse
            include ../icons/mouse.svg
            
        .grid__col
          .content-image
            img(data-src='img/slideBg2.jpg' data-srcset='img/slideBg2@2x.jpg 2x')
    
    // SECTION
    .section(data-section="about")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title Особенности 
            .content__text
              // тут переключалка
            
          .grid__mouse
            include ../icons/mouse.svg
            
        .grid__col
          .content-image
            // тут слайдер на 4 фотки 
    
    // SECTION
    .section(data-section="about")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title Команда 
            .content__text
              p «Лаборатория кофе» объединяет людей, которых можно назвать лучшими в своём деле. Все наши обжарщики имеют опыт работы бариста, организовывают и поддерживают события кофейной индустрии, обмениваются опытом с российскими и иностранными коллегами, участвуют в соревнованиях разного уровня.
            
          .grid__mouse
            include ../icons/mouse.svg
            
        .grid__col
          .content-image        
            img(data-src='img/slideBgTeam.jpg' data-srcset='img/slideBgTeam@2x.jpg 2x')

    //////////
    // ROASTING
    //////////
    
    
    // SECTION
    .section(data-section="roasting")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title Обжарка кофе 
            .content__text
              // тут переключалка
            
          .grid__mouse
            include ../icons/mouse.svg
            
        .grid__col
          .content-image
            img(data-src='img/slideBgObjarka1.jpg' data-srcset='img/slideBgObjarka1@2x.jpg 2x')
                    
    // SECTION
    .section(data-section="roasting")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title Зелёное зерно
            .content__text
              p Закупками зелёного зерна и формированием ассортимента занимается команда обжарщиков «Лаборатории кофе». Мы постоянно проводим мониторинг новых лотов у трейдеров, получаем и анализируем новые предложения по зелёному зерну со всего мира. И, конечно, отслеживаем динамику цен. Разница закупочной цены даже в несколько долларов может влиять на стоимость готового продукта. Поэтому мы безостановочно ищем варианты сохранения цен без потери качества: находим другое зерно, подходящее по вкусу, стараемся составить смеси так, чтобы они попадали и в рамки требуемого вкуса и в рамки ценовой категории, которую диктует рынок, подбираем оптимальный профиль обжарки. 

          .grid__mouse
            include ../icons/mouse.svg
            
        .grid__col
          .content-image
            img(data-src='img/slideBgObjarka4.jpg' data-srcset='img/slideBgObjarka4@2x.jpg 2x')
                                            
    // SECTION
    .section(data-section="roasting")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title Контроль качества 
            .content__text
              p На всех ростерах «Лаборатории кофе» установлена стоит система «Кропстер». Благодаря ей можно отследить до мелочей каждый график обжарки, все показатели датчиков. На основании этой информации мы проводим анализ обжарок, ищем при необходимости новые профили. Дело в том, что некоторые показатели даже одного сорта могут варьироваться: влажность зелёного зерна, интенсивность вкуса в результате хранения на складе. Мы стараемся работать всегда только с самым свежим урожаем, но даже небольшие изменения в качестве могут быть заметны, если вовремя не подстроить профиль обжарки. 
              p Ежедневно мы обжариваем несколько партий разного зерна, и из каждой партии берём образцы, сравниваем с предыдущими обжарками при помощи так называемых триангуляций: ставим две чашки нынешней обжарки, одну чашку старой обжарки, и ищем разницу. 

          .grid__mouse
            include ../icons/mouse.svg
            
        .grid__col
          .content-image
            img(data-src='img/slideBgObjarka5.jpg' data-srcset='img/slideBgObjarka5@2x.jpg 2x')
      
      
    //////////
    // SERVICE
    //////////
    
    // SECTION
    .section(data-section="service")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title Сервис
            .content__text
              // тут переключалка
            
          .grid__mouse
            include ../icons/mouse.svg
            
        .grid__col
          .content-image
            img(data-src='img/slideBgService1.jpg' data-srcset='img/slideBgService1@2x.jpg 2x')
                  
                  
    //////////
    // PRODUCTS
    //////////
    
    // SECTION
    .section(data-section="products")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title Продукция
            .content__text
              // тут текст продукции
            
          .grid__mouse
            include ../icons/mouse.svg
            
        .grid__col
          .content-image
            img(data-src='img/slideBgProduction.jpg' data-srcset='img/slideBgProduction@2x.jpg 2x')
                            
                  
    //////////
    // CONTACTS
    //////////

    // SECTION
    .section(data-section="contacts")
      .grid
        .grid__col
          .content.content--scrollable
            .content__title Контакты
            .content__text
              // тут текст продукции
            
          .grid__mouse
            include ../icons/mouse.svg
            
        .grid__col
          .content-image
            // тут карта        
                                              

                                                                                
  // DOTS NAVIGATION
  .navigation(js-navigation)
    .navigation__el(data-proximity="1" data-ask-for="about")
    .navigation__el(data-proximity="2" data-ask-for="roasting")
    .navigation__el(data-proximity="3" data-ask-for="service")
    .navigation__el(data-proximity="4" data-ask-for="products")
    .navigation__el(data-proximity="5" data-ask-for="contacts")    
