
.controls
  display: flex
  flex-direction: column
  height: 120px
  position: absolute
  bottom: 0
  left: 0
  right: 0
  z-index: 10
  opacity: 0
  pointer-events: none
  transform: translate3d(0,100%,0)
  transition: all $transitionSpeed $ease
  &__wrapper
    flex: 1 1 auto
    position: relative
  &__mouse
    position: absolute
    top: 0
    bottom: 0
    z-index: 5
    width: 50%
    text-align: center
    display: flex
    justify-content: center
    align-items: center
    cursor: pointer
    transition: all $transitionSpeed $ease
  &__socials
    position: absolute
    top: 0
    right: 0
    bottom: 0
    z-index: 5
    display: flex
    align-items: center
    justify-content: flex-end
    padding: 10px 115px 10px 30px
    font-size: 18px
    color: white
    font-family: 'Roboto Slab', sans-serif
    font-weight: 700
    a
      display: inline-block
      padding: 5px
      margin-right: 25px
      transition: all $transitionSpeed $ease
      &:last-child
        margin-right: 0
      &:hover
        color: $colorHover
  &__progress
    display: block
    position: absolute 0
    z-index: 1
    width: 100%
    transform: translate3d(70%,0,0)
    background: #212121
    transition: all $transitionSpeed $ease
  &__up
    padding: 10px
    position: absolute
    left: 50px
    text-align: center
    opacity: 0
    pointer-events: none
    transform: translate3d(0,-30px,0)
    cursor: pointer
    transition: all $transitionSpeed $ease
    &:hover
      color: $colorHover
    .ico
      transform: rotate(180deg)
      font-size: 10px
    span
      display: block
      margin-top: 15px
      font-size: 14px
      font-family: 'Roboto Slab', sans-serif
  &.is-visible
    opacity: 1
    pointer-events: all
    transform: translate3d(0,0,0)
  &.is-last
    .controls__mouse
      opacity: 0
      pointer-events: none
      transform: translate3d(0,-30px,0)
    .controls__up
      opacity: 1
      pointer-events: all
      transform: translate3d(0,0,0)


+rh(800)
  .controls
    height: 90px
    &__mouse
      svg
        transform: scale(.75)

+r($wide)
  .controls
    &__socials
      padding-right: 40px
