// HEADER
.header
  position: absolute
  z-index: 21
  top: 0
  left: 0
  width: 100%
  background: white
  font-family: 'Roboto Slab', serif
  transition: all $transitionSpeed $ease
  &__hamburger
    display: none
    justify-content: center
    align-items: center
    position: fixed
    z-index: 20
    top: 0
    left: 0
    background: white
    size: 76px
    transition: box-shadow .2s ease
    &:hover
      box-shadow: 0px 5px 15px rgba(black, .1)
  &__wrapper
    display: flex
    align-items: center
    padding: 60px 95px 100px 120px
    transition: all $transitionSpeed $ease
  &__logo
    flex: 0 0 auto
    font-size: 95px
  &__menu
    display: flex
    margin: 17px 0 0 85px
    padding: 0
    font-weight: 300
    li
      flex: 0 0 auto
      margin-right: 40px
      font-size: 14px
      letter-spacing: -.022em
      a
        display: inline-block
        padding: 5px
        transition: all $transitionSpeed $ease
        &:hover
          color: $colorHover
      &.is-active
        a
          font-weight: 700
      &:last-child
        margin-right: 0

  &__socials
    font-size: 18px
    font-weight: 700
    color: #212121
    margin: 17px 0 0 auto
    a
      display: inline-block
      padding: 5px
      margin-right: 25px
      transition: all $transitionSpeed $ease
      &:hover
        color: $colorHover
    &--icons
      a:hover
        .ico
          &.ico-social-vk
            color: $vk
          &.ico-social-facebook
            color: $facebook
          &.ico-social-twitter
            color: $twitter
          &.ico-social-telegram
            color: #0088cc
  &--blog
    position: relative

@media only screen and (min-width: 1200px) and (max-width: 1450px)
  .header
    &.is-half
      .header
        &__menu
          li
            margin-right: 20px

@media only screen and (min-width: 1200px) and (min-height: 800px)
  .header
    &__logo
      transform: scale(1.5)
      transform-origin: center 40%
      transition: all .25s ease
    &.is-half
      .header__logo
        transform: scale(1.3)
        transform-origin: center 30%
    &--blog
      height: 320px
      .header
        &__logo
          top: 65px
          position: absolute
          left: 50%
          transform: translate3d(-50%,0,0)
        &__menu
          position: absolute
          top: 210px
          left: 50%
          transform: translate3d(-50%,0,0)
          margin: 0
        &__socials
          position: absolute
          top: 205px
          right: 80px
          margin: 0
          a
            font-size: 24px
            margin-right: 10px




+rmin($wide)
  .header
    &.is-half
      width: 50%
      .header
        &__wrapper
          padding-left: 20px
          padding-right: 20px
          padding-bottom: 40px
          flex-direction: column
        &__menu
          margin-left: 0
        &__socials
          display: none

+rh(800)
  .header
    &__wrapper
      padding-top: 30px
      padding-bottom: 50px

+r(1440)
  .header
    &__wrapper
      padding-right: 40px

+r($wide)
  .header
    &__wrapper
      padding-left: 40px
      padding-right: 40px
      padding-bottom: 30px
    &__menu
      margin: 0 0 0 85px
    &__socials
      display: none
    &__logo
      font-size: 77px


+r($desktop)
  .header
    &__menu
      margin: 0 0 0 50px
      li
        margin-right: 20px
        &:last-child
          margin-right: 0

+r($tablet)
  .header
    // refactor
    &.is-fixed
      position: fixed
      .header__socials
        opacity: 0
        pointer-events: none

    &__hamburger
      flex: 0 0 76px
      display: flex
    &__wrapper
      align-items: flex-start
      padding-left: 20px
      padding-right: 20px
    &__logo
      margin-left: auto
      margin-right: auto
      padding-left: 76px
      font-size: 85px
    &--centered
      .header__logo
        padding-left: 0
        
    &__menu
      display: none
    &__socials
      flex: 0 0 76px
      display: flex
      flex-direction: column
      align-items: center
      font-size: 14px
      margin: 0px 0 0 0
      transform: translateX(20px)
      &:not(.header__socials--icons)
        flex-direction: column-reverse
      a
        margin-right: 0
        margin-bottom: 0px
        &:last-child
          margin-bottom: 12px
      &--icons
        transform: translate3d(22px, -5px,0)
        a
          margin-bottom: 5px
          &:last-child
            margin-bottom: 0

+rmin($tablet)
  .mobile-menu
    display: none !important

// MOBILE MENU
.mobile-menu
  position: fixed
  top: 0px
  bottom: 0
  left: 0
  right: 0
  display: flex
  flex-direction: column
  z-index: 20
  overflow-y: auto
  // opacity: 0
  transform: translate3d(0,100%,0)
  pointer-events: none
  transition: transform .15s ease-out
  &.is-active
    transform: translate3d(0,0,0)
    pointer-events: all
    // opacity: 1

  &__wrapper
    flex: 1 0 auto
    display: flex
    flex-direction: column
    // min-height: 580px
    padding: 30px 20px
    background: white

  &__menu
    display: flex
    flex-direction: column
    align-items: center
    text-align: center
    margin: 110px 0 auto 0
    padding: 30px 0
    font-family: 'Roboto Slab', sans-serif
    font-size: 14px
    font-weight: 300
    li
      display: block
      flex: 0 0 auto
      margin-bottom: 20px
      font-size: 14px
      letter-spacing: -.022em
      a
        display: inline-block
        padding: 5px
        transition: all $transitionSpeed $ease
        &:hover
          color: $colorHover
      &.is-active
        a
          font-weight: 700

  .header__socials
    flex-direction: row
    justify-content: center
    transform: translateX(0px)
    a
      margin-right: 25px
      margin-bottom: 0px
      &:last-child
        margin-bottom: 0px
        margin-right: 0
