.ico-btn-next {
  width: 0.63em;
  height: 1em;
  fill: #A5A5A5;
}
.ico-down-arrow {
  width: 1.6em;
  height: 1em;
  fill: #0F0F0F;
}
.ico-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-logo {
  width: 1.28em;
  height: 1em;
  fill: none;
}
.ico-mouse {
  width: 0.32em;
  height: 1em;
  fill: none;
}
.ico-social-facebook {
  width: 1em;
  height: 1em;
  fill: #212121;
}
.ico-social-instagram {
  width: 1em;
  height: 1em;
  fill: #212121;
}
.ico-social-telegram {
  width: 1.22em;
  height: 1em;
  fill: #212121;
}
.ico-social-twitter {
  width: 1.3em;
  height: 1em;
  fill: #FFF;
}
.ico-social-vk {
  width: 1.65em;
  height: 1em;
  fill: #FFF;
}
