.ico-btn-next {
  width: 0.63em;
  height: 1em;
  fill: #A5A5A5;
}
.ico-down-arrow {
  width: 1.6em;
  height: 1em;
  fill: #0F0F0F;
}
.ico-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-logo {
  width: 1.28em;
  height: 1em;
  fill: none;
}
.ico-mouse {
  width: 0.32em;
  height: 1em;
  fill: none;
}
